MONGO_URI=mongodb://localhost:27017/example-backend
PORT=8080
NODE_ENV=development

JWT_SECRET=adsds9sadsa-dsd77dadsds
JWT_EXPIRES_IN=30d
 

APP_NAME="Example App"
APP_ENV=local
APP_KEY=base64:WPjdGEIzi6UIeNDVhSMd3W0kFCoSGOtbJRTi8RdyliE=
APP_DEBUG=true
APP_URL='http://localhost:8081'

MAIL_DRIVER=gmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=rvbbvzbwrgkllhip
MAIL_ENCRYPTION=null
MAIL_FROM_NAME=amazona 
MAIL_FROM_ADDRESS=noreplay@example.com 

BUCKET_NAME="Example"
AWS_REGION="us-east-2"
ACCESS_KEY_ID="AKIAQ7REN7PZNA6O7Y47SS"
SECRET_ACCESS_KEY="17hJf3izfidmAWvUmxOtrZgoY4OVAvaJm/RzlWPX"
AWS_BUCKET_URL="https://example.s3.us-east-2.amazonaws.com/"
AWS_UPLOAD_PATH="uploads/"